<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <div sec:authorize="isAuthenticated()">
        <h3><span sec:authentication="name"></span></h3>
        <h4><a href="/logout">Выйти</a></h4>
    </div>
    <table border="1">
        <tr>
            <th>User_id</th>
            <th>Username</th>
            <th>Age</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Role</th>
            <th>Password</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}">Id</td>
            <td th:text="${user.getUsername()}">User</td>
            <td th:text="${user.getAge()}">Age</td>
            <td sec:authorize="hasRole('ROLE_ADMIN')">
                <select class="form-control" id="dropDownList">
                    <option th:each="role : ${user.getRoles()}" th:text="${role.getName()}"></option>
                </select>
            </td>
            <td th:type="password" th:text="${user.getPassword()}">Password</td>
        </tr>
    </table>
    <br/>
    <hr/>
    <a href="/">Главная</a>
    <br/>
<!--    <a sec:authorize="hasRole('ROLE_ADMIN')" th:each="user : ${users}" th:href="@{'/admin/new?username=' + ${user.getUsername()} +'&age=' + ${user.getAge()}-->
<!--                        + '&admin=' + ${user.getAdmin()} + '&user=' + ${user.getUser()}-->
<!--                         + '&password=' + ${user.getPassword()}+ '&id=' + ${user.getId()}}">Edit user</a>-->
<!--    <form sec:authorize="hasRole('ROLE_ADMIN')" th:method="POST" th:action="@{/delete}" th:object="${users}">-->
<!--        <input style="display: none;" readonly type="text" th:field="*{id}" id="id"/>-->
<!--        <input style="padding: 0; border: none; font: inherit; background-color: transparent; color: #0645ad; cursor: pointer; text-decoration: underline;"-->
<!--               type="submit" value="Delete user"/>-->
<!--    </form>-->
</div>
</body>
</html>