<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Login</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class=" col-sm-3 mx-auto">
            <div class="mt-5">
                <h4 class="h4"><b>Please sign in</b></h4>
            </div>
            <form class="form-group d-flex flex-column" method="post" action="/login">
                <label for="username"></label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Email address"/>
                <label for="password"></label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password"/>
                <input class="btn btn-primary btn-block mt-2" type="submit" value="Sign in"/>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>